.about-slider {
  padding: 40px 0;
  @include for-big {
    padding: 4rem 0;
  }
  &__slider {
    .swiper-slide {
      height: 500px;
      border-radius: 10px;
      overflow: hidden;
      backdrop-filter: blur(7px);
      box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
      background: rgba(255, 255, 255, 0.8);
      @include for-big {
        height: 50rem;
        border-radius: 1rem;
      }
      @include small-tablet {
        height: 360px;
      }
      @include mobile {
        height: 224px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 100%;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.6);
    &--prev {
      left: 30px;
      @include for-big {
        left: 3rem;
      }
      @include small-tablet {
        left: 10px;
      }
    }
    &--next {
      right: 30px;
      @include small-tablet {
        right: 10px;
      }
    }
  }
}
