.about-equip {
  padding: 40px 0;
  margin-right: -37px;

  @media (max-width: 1024px) {
    margin-right: 0;
  }
  @include small-tablet {
    padding: 20px 0;
  }
  &__desc {
    margin-bottom: 30px;
  }
  &__list {
    & > li {
      padding: 20px;
      border: 1px solid var(--seraya-obvodka);
      border-radius: 20px;
      box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
      background: linear-gradient(225deg, #fff 0%, #f9ffff 100%);
      @include small-tablet {
        border-radius: 10px;
        padding: 10px;
      }
    }
  }
}
