.aside {
  &__block {
    background-color: #e9f2fd;
    border-radius: 20px;
    padding: 20px;
    @media (max-width: 1400px) {
      padding: 10px;
      border-radius: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  &__body {
    background: linear-gradient(225deg, #fff 0%, #f9ffff 100%);
    border-radius: 10px;
    padding: 20px;

    @media (max-width: 1400px) {
      padding: 10px;
    }
  }
  &__value {
    margin: 0;
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: var(--light-grey);
    line-height: 144%;
    @media (max-width: 1400px) {
      font-size: 16px;
    }
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
  &__capture {
    font-size: 20px;
    margin-bottom: 5px;
    color: var(--accent);

    @media (max-width: 1400px) {
      font-size: 17px;
    }
  }
  &__desc {
    margin-bottom: 20px !important;

    @include mobile {
      margin-bottom: 10px !important;
    }
  }
  &__btn {
    width: 100%;
  }
  &__info {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__btn {
    @media (max-width: 1150px) {
      font-size: 14px;
      padding: 20px;
    }
  }
  &__tt {
    cursor: default;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    font-weight: 500;
    font-size: 25px;
    color: #fff;
    padding: 20px;
    @media (max-width: 1300px) {
      font-size: 22px;
      margin-bottom: 15px;
    }
    @media (max-width: 1200px) {
      font-size: 18px;
    }

    &--left {
      display: flex;
      align-items: center;
      gap: 20px;

      svg {
        width: 26px;
        height: 28px;
      }
    }
  }
  &__item {
    font-weight: 400;
    font-size: 18px;
    color: #bdbdbd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.active {
      color: var(--accent);
    }

    @media (max-width: 1400px) {
      font-size: 16px;
    }
    @media (max-width: 1200px) {
      font-size: 14px;
    }
  }
  &__ch {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__prof {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: var(--accent);

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__btn {
    width: auto;
    margin: 0 auto;
  }
}
.aside-links {
  &__link {
    font-weight: 400;
    font-size: 18px;
    color: #bdbdbd;
  }
  &__item {
    margin-top: 15px;
  }
}
.aside-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  &__icon {
    cursor: pointer;
    width: 8px;
    height: 12px;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 18px;
      color: #444;
    }
  }

  &__body {
    will-change: max-height;
    transition: max-height 0.3s ease-in;
    box-sizing: content-box;
    overflow: hidden;
    max-height: 0;
  }
}

.aside-doc {
  position: relative;
  &__img {
    height: 220px;
    border-radius: 10px;
    overflow: hidden;

    margin-bottom: 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  &__name {
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #444;
    padding: 10px 15px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.8);
  }

  &__link {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 38px;
    height: 38px;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
