.consult-hero {
  &__container {
    display: flex;
    gap: 20px;

    @media (max-width: 850px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &__form {
    width: 100%;
    max-width: 762px;
    flex-grow: 0;
    padding: 40px;
    border: 1px solid var(--seraya-obvodka);
    border-radius: 40px;
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: linear-gradient(135deg, #e9f2fd 0%, #f9f1ee 100%);

    @media (max-width: 850px) {
      padding: 20px;
      border-radius: 20px;
    }
  }
  &__image {
    flex-grow: 1;
    border-radius: 40px;
    flex-basis: 538px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    @media (max-width: 850px) {
      flex-basis: auto;
      flex: unset;
      max-height: 100%;
      width: 100%;
      height: 500px;
    }
    @include small-tablet {
      height: 350px;
    }
    @include mobile {
      height: 250px;
    }
  }
  &__title {
    margin-bottom: 40px;
    @include tablet {
      margin-bottom: 30px;
    }
    @include small-tablet {
      margin-bottom: 20px;
    }
  }
  &__desc {
    text-align: left;
    margin-bottom: 60px;

    @include tablet {
      margin-bottom: 40px;
    }
    @include small-tablet {
      margin-bottom: 20px;
    }
  }
}
