.consult-form {
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(135deg, #e9f2fd 0%, #f9f1ee 100%);
  &__desc {
    margin-bottom: 10px;
  }
  &__input {
    height: 62px;
  }
  &__label {
    &:last-of-type {
      margin-bottom: 20px;
    }
  }
  &__btn {
    width: 200px;
    padding: 15px 50px;
  }
}
