.die {
  margin: 20px 0;
  position: relative;
  @include small-tablet {
    padding-top: 40px;
  }
  &__container {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: #fff;

    display: flex;
    align-items: center;
    gap: 30px;

    @include tablet {
      gap: 20px;
    }

    @include small-tablet {
      flex-direction: column-reverse;
      gap: 10px;
      padding: 10px;
    }
  }
  &__addr {
    flex-shrink: 0;

    @include small-tablet {
      position: absolute;
      left: 20px;
      right: 20px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    gap: 20px;
    @include small-tablet {
      gap: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 15px;
      @include small-tablet {
        margin-bottom: 0;
      }
    }
  }

  &__icon {
    width: 19px;
    flex-shrink: 0;
    svg {
      width: 100%;
    }
  }
  &__form {
    border: 1px solid rgba(47, 122, 246, 0.5);
    border-radius: 10px;
  }
  &__val {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);

    @include tablet {
      font-size: 16px;
    }
  }
}
