.faq {
  padding: 40px 0;

  &__body {
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: #fff;
    border: 1px solid var(--seraya-obvodka);
    border-radius: 20px;
    padding: 30px;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__icon {
    width: 47px;
    height: 52px;
    flex-shrink: 0;
    position: relative;
    svg {
      width: 100%;
      height: 100%;
    }

    &::after {
      content: "?";
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 30px;
      color: #fff;
    }
  }
  &__quest {
    font-weight: 500;
  }

  &__content {
    box-sizing: content-box;
    will-change: max-height;
    transition: max-height 0.3s ease-out;

    max-height: 0;
    overflow: hidden;
  }
  &__desc {
    margin-top: 20px;
    padding: 30px;
    border: 1px solid var(--seraya-obvodka);
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: linear-gradient(225deg, #fff 0%, #f9ffff 100%);
  }
}
