.nearest-sub {
  margin-bottom: 40px;
  @include for-big {
    margin-bottom: 4rem;
  }
  @include small-tablet {
    margin-bottom: 20px;
  }
  &__name {
    span {
      color: var(--accent);
    }
  }
}
