.near-theme {
  padding: 40px 0;

  @include small-tablet {
    padding: 20px 0;
  }
  &__capture {
    margin-bottom: 20px;

    @include small-tablet {
      margin-bottom: 10px;
    }
  }
  &__list {
    counter-reset: cc;
  }
  &__item {
    counter-increment: cc;

    display: flex;
    align-items: center;
    gap: 12px;
    @include mobile {
      gap: 10px;
    }
    &:not(:last-child) {
      margin-bottom: 20px;

      @include mobile {
        margin-bottom: 10px;
      }
    }
    &::before {
      content: counter(cc);
      flex-shrink: 0;
      display: block;
      font-family: var(--second-family);
      font-weight: 500;
      font-size: 20px;
      color: #fff;
      background-color: var(--accent);
      padding: 0 8px;
      aspect-ratio: 1 / 1;
      border-radius: 100%;

      @include small-tablet {
        font-size: 18px;
      }
      @include mobile {
        font-size: 16px;
        padding: 0 6px;
      }
    }
  }
  &__list--sec {
    .near-theme__item {
      &::before {
        content: "";
        border-radius: 0;
        background-color: transparent;
      }
    }
  }
  &__link {
    font-weight: 400;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--accent) !important;

    @include small-tablet {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
}
