.prices {
  padding: 40px 0;
  padding-top: 0;
  &__list {
  }
  &__item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.prices-item {
  &__header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: var(--accent);
    border-radius: 10px;
  }
  &__left {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  &__btn {
    padding: 10px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--accent);
    background-color: #fff;
    border-radius: 10px;
    color: var(--text-color);
    @include small-tablet {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
      border-radius: 5px;
    }
  }
  &__name {
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 25px;
    color: #fff;

    @include small-tablet {
      font-size: 20px;
    }
    @include mobile {
      font-size: 14px;
      gap: 10px;
    }
  }
  &__wrap {
  }
  &__body {
    // box-sizing: content-box;
    // will-change: max-height;
    // transition: max-height 0.3s;

    // max-height: 0;
    // overflow: hidden;
    display: none;

    &.active {
      display: block;
    }
  }

  &__wrapper {
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: #fff;
    border-radius: 20px;
  }
  &__extra {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: linear-gradient(135deg, #e9f2fd 0%, #f9f1ee 100%);
    border-radius: 20px;
    @include mobile {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    span {
      font-family: var(--font-family);
    }
  }
}

.prices-pic {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;

  @include small-tablet {
    gap: 20px;
  }
  &.hide {
    display: none;
  }
  &.visible {
    display: flex;
  }
  &__name {
    font-weight: 400;
    font-size: 20px;
    color: var(--text-color);

    @include small-tablet {
      font-size: 16px;
    }
    @include mobile {
      font-size: 14px;
    }
  }
  &__value {
    border: 1px solid var(--accent);
    border-radius: 10px;
    padding: 10px;
    min-width: 126px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--text-color);

    @include small-tablet {
      font-size: 16px;
      min-width: 110px;
    }
    @include mobile {
      font-size: 14px;
      min-width: 100px;
    }
  }
}
