.team {
  padding: 40px 0;
  @include for-big {
    padding: 4rem 0;
  }
  @include small-tablet {
    padding: 20px 0;
  }
  &__item {
    box-sizing: border-box;
    position: relative;
    padding-top: 400px;
    border: 1px solid var(--seraya-obvodka);
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include for-big {
      padding-top: 40rem;
      border-radius: 2rem;
    }
    @include tablet {
      padding-top: 300px;
    }
    @media (max-width: 1024px) {
      padding-top: 360px;
    }
  }
  &__control {
    &--top {
      @include small-tablet {
        display: none;
      }
    }
    &--bottom {
      display: none;
      @include small-tablet {
        margin-top: 10px;
        display: flex;
        justify-content: center;
      }
    }
  }
  &__title {
    margin-bottom: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    padding: 20px;
    backdrop-filter: blur(7px);
    box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border-radius: 20px;
    height: 150px;
    @include for-big {
      padding: 2rem;
      border-radius: 2rem;
      height: 15rem;
    }
    @media (max-width: 1024px) {
      padding: 20px 10px;
    }
    @media (max-width: 700px) {
      height: 120px;
    }
    @include mobile {
      height: 100px;
      padding: 5px;
    }
  }

  &__name {
    margin-bottom: 10px;
    @include for-big {
      margin-bottom: 1rem;
    }
  }
}
