.testi {
  padding: 40px 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__title {
    margin: 0;
  }
}

.testi-item {
  padding: 30px 28px;
  border-radius: 20px 0;
  box-shadow: 0 0 20px 0 rgba(156, 156, 156, 0.1);
  background: linear-gradient(135deg, #e9f2fd 0%, #f9f1ee 100%);

  &__header {
    display: flex;
    align-items: center;
    gap: 19px;
    margin-bottom: 30px;
  }

  &__img {
    height: 63px;
    width: 63px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
  &__desc {
    margin-bottom: 30px;
    line-height: 150%;
    font-weight: 400;
  }

  &__from {
    display: block;
    font-family: var(--third-family);
    font-weight: 500;
    line-height: 150%;
  }
}
