<section class="about-descr">
  <div class="container">
    <h2 class="capture capture--accent about-descr__title">
      Мы рады приветствовать Вас в стоматологической клинике Доктора Гранова
    </h2>
    <p class="desc2 about-descr__desc">
      Наша клиника собрала коллектив специалистов, которые радеют за свою работу
      и выполняют ее высококлассно. Сейчас в Москве существует много
      организаций, предлагающих стоматологические услуги разного уровня.
      <br /><br />
      Поверьте, настоящих классных врачей в действительности очень мало. Люди
      теперь могут выбирать, где лечиться, и выбирают чаще всего врача, а не
      клинику, даже если до хорошего доктора путь не близкий.
      <br />
      <span>Здоровье дороже!</span>
    </p>

    <div class="about-descr__items info__body">
      <div class="info about-descr__item">
        <p class="desc2 about-descr__desc">
          Мы входим в состав участников
          <a href="">Ассоциации частных</a> стоматологических клиник и, по
          мнению наших пациентов, являемся надежной и честной клиникой.
        </p>
      </div>
      <div class="info about-descr__item">
        <p class="desc2 about-descr__desc">Мы работаем с 2011 года.</p>
      </div>
      <div class="info about-descr__item">
        <p class="desc2 about-descr__desc">
          Цены в нашей клинике находятся от верхней планки эконом-класса до
          нижней-бизнес-класса.
        </p>
      </div>
      <div class="info about-descr__item">
        <p class="desc2 about-descr__desc">
          Кроме того, у нас всегда действуют различные
          <a href="#">программы скидок и акций.</a>
        </p>
      </div>
    </div>
  </div>
</section>
