<section class="about-equip">
  <div class="container">
    <h2 class="title2 about-equip__title">Современное оборудование</h2>
    <p class="about-equip__desc desc2">
      Стоматологическая клиника Доктора Гранова уделяет огромное внимание не
      только качеству используемых материалов, но и техническому оснащению
      клиники. 
    </p>
    <ul class="d-list d-list--blue about-equip__list list-reset">
      <li>
        Наша клиника оснащена американским, итальянским, японским и швейцарским
        оборудованием ведущих мировых брендов, что позволяет нам наслаждаться
        работой, а Вам получать удовольствие от лечения. 
      </li>
      <li>
        Стерилизационное оборудование в нашем стоматологическом центре
        гарантирует Вашу и нашу безопасность. 
      </li>
      <li>
        Рентгеновские снимки в нашей клинике выполняются на компьютерном
        радиовизиографе, который позволяет не только значительно уменьшить дозу
        лучевой нагрузки, но и максимально информативно донести до врачей и
        пациентов всю суть проблемы и показать успех ее решения.
      </li>
    </ul>
  </div>
</section>
