<section class="about-family">
  <div class="container">
    <h2 class="title2 about-family__title">Семейная стоматология</h2>

    <div class="about-family__items">
      <div class="about-family__content">
        <p class="about-family__desc desc2">
          Специалисты нашей стоматологической клиники готовы помочь всем
          обратившимся пациентам любых возрастных категорий. Поэтому к нам
          приходят семьями и рекомендуют друзьям и знакомым.
        </p>

        <div class="about-family__body">
          <p class="desc2 about-family__desc">
            Записывайтесь на прием и Вы к нам!
            <br />
            Ваша улыбка – Наша работа!  
          </p>

          <button class="btn btn-reset about-family__btn">
            Рассчитать стоимость
          </button>
        </div>
      </div>

      <div class="about-family__image">
        <picture>
          <source
            srcset="./img/about/family-2x.webp"
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/about/family.webp" type="image/webp" />
          <img
            src="./img/about/family.jpg"
            srcset="./img/about/family-2x.jpg 2x"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
