<section class="about-methods">
  <div class="container">
    <h2 class="visually-hidden">title</h2>
    <div class="about-methods__body">
      <div class="about-methods__items">
        <div class="about-methods__img">
          <picture>
            <source
              srcset="./img/methods/01-2x.webp"
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source srcset="./img/methods/01.webp" type="image/webp" />
            <img
              src="./img/methods/01.jpg"
              srcset="./img/methods/01-2x.jpg 2x"
              alt=""
            />
          </picture>
        </div>
        <div class="about-methods__img">
          <picture>
            <source
              srcset="./img/methods/02-2x.webp"
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source srcset="./img/methods/02.webp" type="image/webp" />
            <img
              src="./img/methods/02.jpg"
              srcset="./img/methods/02-2x.jpg 2x"
              alt=""
            />
          </picture>
        </div>
      </div>
      <p class="desc2 about-methods__desc">
        Мы постарались сделать все возможное, чтобы вы чувствовали себя в нашей
        клинике спокойно и уверенно.
      </p>
      <div class="about-methods__extra">
        <p class="desc2">
          В кабинетах для удобства пациентов установлены мониторы визуализации,
          с программами, позволяющими легко и понятно донести до пациентов план
          лечения и показать существующие проблемы, о существовании которых Вы
          порой и не догадываетесь.
        </p>
      </div>
    </div>
    <p class="desc2 about-methods__desc">
      В клинике реализован комплексный подход к стоматологическому лечению.
      Новейшие методики в области терапевтической, эстетической, хирургической и
      ортопедической стоматологии позволяют добиваться превосходных результатов.
    </p>
    <div class="about-methods__body">
      <p class="desc2">
        Все врачи нашей клиники сертифицированы, имеют большой стаж работы и
        опыт. В арсенале навыков врачей-ортопедов – изготовление, как самых
        простых конструкций, так и сложных, например, безметалловая керамика,
        коронки на диоксиде циркония, замковые бюгельные протезы и многое
        другое.
        <br />
        <br />
        Врачи-терапевты так же работают с применением технологий и материалов
        последнего поколения. Контролировать качество своей работы и
        демонстрировать его пациентам позволяют снимки, сделанные на
        радиовизиографе.
      </p>
    </div>
  </div>
</section>
