<section class="about">
  <div class="container">
    <h2 class="title2 about__title">О клинике</h2>
    <div class="about__container">
      <div class="about__items">
        <div class="about__item">
          <p class="desc">
            В своей работе мы стремимся дать нашим клиентам максимум из
            возможного, подарив им здоровую и красивую улыбку.
          </p>
        </div>
        <div class="about__item">
          <p class="desc">
            Наша клиника не сетевая, мы делаем упор на внимание нашего
            руководства и главного врача к нашим пациентам, а значит, на
            поддержании высокого качества оказания услуг.
          </p>
        </div>
        <div class="about__item">
          <p class="desc">
            Мы в полной мере принимаем на себя ответственность за результаты
            лечения, и не распыляемся на десятки точек, следовательно мы можем
            позволить себе производить лечения для наших пациентов по адекватным
            ценам, которые, по мнению наших пациентов, лучшие в Москве, по
            соотношению цена качество.
          </p>
        </div>
      </div>

      <div class="about__video">
        <video src=""></video>
      </div>
    </div>
  </div>
</section>
