<section class="about-props">
  <div class="container">
    <h2 class="about-props__title capture--th capture capture--accent">
      Реквизиты ООО «Медстандарт»
    </h2>
    <div class="about-props__body">
      <ul class="list-reset about-props__list">
        <li>
          <span>Юр. адрес</span> 119313 г. Москва ул. Гарибальди д.6 пом.6
        </li>
        <li><span>ИНН</span> 7736627570</li>
        <li><span>КПП</span> 773601001</li>
        <li><span>ОГРН</span> 1117746110635</li>
        <li><span>ОКПО</span> 90547801</li>
        <li><span>Генеральный директор</span> Гранов И.Я.</li>
        <li>
          <span>Банк</span> - ЗАО «ГЛОБЭКСБАНК» г.Москва Пролетарский пр-кт, 31
        </li>
        <li><span>ИНН</span> 7744001433 БИК 044525243</li>
        <li><span>КПП</span> 775001001/997950001</li>
        <li><span>Код ОКПО</span> 09317031</li>
        <li><span>ОГРН</span> 1027739326010</li>
        <li><span>Корр.счет</span> № 30101810000000000243</li>
        <li><span>Расч. счет</span> № 40702810000260215212  </li>
      </ul>
    </div>
  </div>
</section>
