<div class="aside">
  <div class="aside__block">
    <div class="aside__body">
      <div class="aside__info">
        <span class="aside__capture desc">Адрес клиники</span>
        <span class="aside__value">Москва, ул. Гарибальди, 6</span>
      </div>
      <div class="aside__info">
        <span class="aside__capture desc">Контактные телефоны</span>
        <a href="tel:+7 (499) 233-64-80" class="aside__value"
          >+7 (499) 233-64-80</a
        >
        <a href="tel:+7 (499) 134-58-30" class="aside__value"
          >+7 (499) 134-58-30</a
        >
      </div>
      <div class="aside__info">
        <span class="aside__capture desc">Электронный адрес</span>
        <a href="mailto:ale9014@yandex.ru" class="aside__value"
          >ale9014@yandex.ru</a
        >
      </div>
    </div>
  </div>
</div>
