<section class="ba">
  <div class="ba__thumbs swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide ba__mini">
        <picture>
          <source srcset="./img/therapy/01.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/therapy/01.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="swiper-slide ba__mini">
        <picture>
          <source srcset="./img/therapy/02.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/therapy/02.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="swiper-slide ba__mini">
        <picture>
          <source srcset="./img/therapy/03.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/therapy/03.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
      <div class="swiper-slide ba__mini">
        <picture>
          <source srcset="./img/therapy/04.webp" type="image/webp" />
          <img
            loading="lazy"
            src="./img/therapy/04.jpg"
            class="image"
            width=""
            height=""
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
  <div class="ba__slider swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide ba__slide">
        <div class="ba__image">
          <picture>
            <source srcset="./img/therapy/01.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/therapy/01.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="ba__desc">
          <p class="desc">
            Удаление кисты в области 21 зуба, консервация лунки. Имплантация.
            Нагрузка. (фото после)
          </p>
        </div>
      </div>
      <div class="swiper-slide ba__slide">
        <div class="ba__image">
          <picture>
            <source srcset="./img/therapy/02.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/therapy/02.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="ba__desc">
          <p class="desc">Другой текст</p>
        </div>
      </div>
      <div class="swiper-slide ba__slide">
        <div class="ba__image">
          <picture>
            <source srcset="./img/therapy/03.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/therapy/03.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="ba__desc">
          <p class="desc">Другой текст</p>
        </div>
      </div>
      <div class="swiper-slide ba__slide">
        <div class="ba__image">
          <picture>
            <source srcset="./img/therapy/04.webp" type="image/webp" />
            <img
              loading="lazy"
              src="./img/therapy/04.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
        <div class="ba__desc">
          <p class="desc">Другой текст</p>
        </div>
      </div>
    </div>

    <div class="control__btn control__btn--prev ba__btn ba__btn--prev ba-prev">
      <svg
        width="9"
        height="16"
        viewBox="0 0 9 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M0.450698 8.91768C0.0601737 8.52715 0.0601736 7.89399 0.450698 7.50346L6.81466 1.1395C7.20518 0.748979 7.83835 0.748979 8.22887 1.1395C8.6194 1.53003 8.6194 2.16319 8.22887 2.55372L2.57202 8.21057L8.22887 13.8674C8.6194 14.2579 8.6194 14.8911 8.22887 15.2816C7.83835 15.6722 7.20518 15.6722 6.81466 15.2816L0.450698 8.91768ZM1.57886 9.21057L1.1578 9.21057L1.1578 7.21057L1.57886 7.21057L1.57886 9.21057Z"
          fill="url(#paint0_linear_149_992)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_149_992"
            x1="1.57886"
            y1="8.21057"
            x2="0.863563"
            y2="8.51175"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#E9F2FD" />
            <stop offset="1" stop-color="#F9F1EE" />
          </linearGradient>
        </defs>
      </svg>
    </div>
    <div class="control__btn control__btn--next ba__btn ba__btn--next ba-next">
      <svg
        width="9"
        height="16"
        viewBox="0 0 9 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.5493 8.91768C8.93983 8.52715 8.93983 7.89399 8.5493 7.50346L2.18534 1.1395C1.79482 0.748979 1.16165 0.748979 0.771128 1.1395C0.380604 1.53003 0.380604 2.16319 0.771128 2.55372L6.42798 8.21057L0.771127 13.8674C0.380603 14.2579 0.380603 14.8911 0.771127 15.2816C1.16165 15.6722 1.79482 15.6722 2.18534 15.2816L8.5493 8.91768ZM7.42114 9.21057L7.8422 9.21057L7.8422 7.21057L7.42114 7.21057L7.42114 9.21057Z"
          fill="url(#paint0_linear_149_998)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_149_998"
            x1="7.42114"
            y1="8.21057"
            x2="8.13644"
            y2="8.51175"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#E9F2FD" />
            <stop offset="1" stop-color="#F9F1EE" />
          </linearGradient>
        </defs>
      </svg>
    </div>
  </div>
</section>
