<section class="benefits">
  <div class="container">
    <h2 class="title2 benefits__title">Наши преимущества</h2>

    <div class="benefits__items">
      <div class="benefits__item">
        <div class="benefits__image">
          <picture>
            <source
              srcset="./img/benefits/01-2x.webp"
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source srcset="./img/benefits/01.webp" type="image/webp" />
            <img
              src="./img/benefits/01.jpg"
              srcset="./img/benefits/01-2x.jpg"
              alt=""
            />
          </picture>
        </div>
        <span class="benefits__capture capture">Оборудование</span>
        <p class="benefits__desc desc2">
          Мы используем стоматологические материалы последнего поколения,
          постоянно обновляем терапевтическое и диагностическое оборудование.
          Все кабинеты оснащены программой визуализации, благодаря которой
          пациент может наблюдать за ходом всех исполняемых действий своего
          врача.
        </p>
      </div>
      <div class="benefits__item">
        <div class="benefits__image">
          <picture>
            <source
              srcset="./img/benefits/02-2x.webp"
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source srcset="./img/benefits/02.webp" type="image/webp" />
            <img
              src="./img/benefits/02.jpg"
              srcset="./img/benefits/02-2x.jpg"
              alt=""
            />
          </picture>
        </div>
        <span class="benefits__capture capture">Персонал</span>
        <p class="benefits__desc desc2">
          Все врачи клиники — сертифицированные специалисты с опытом работы от
          10 лет. Мы входим в состав участников Ассоциации стоматологических
          клиник России, что способствуют постоянному повышению квалификации
          врачей — регулярные стажировки, семинары и консультации с коллегами.
        </p>
      </div>
      <div class="benefits__item">
        <div class="benefits__image">
          <picture>
            <source
              srcset="./img/benefits/03-2x.webp"
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source srcset="./img/benefits/03.webp" type="image/webp" />
            <img
              src="./img/benefits/03.jpg"
              srcset="./img/benefits/03-2x.jpg"
              alt=""
            />
          </picture>
        </div>
        <span class="benefits__capture capture">Большой перечень услуг</span>
        <p class="benefits__desc desc2">
          Мы предлагаем различные виды стоматологических услуг - лечение
          кариеса, удаление зуба, имплантация, ортодонтия и др. План лечения
          составляется в индивидуальном порядке с учетом имеющихся патологий,
          состояния и личных предпочтений пациента
        </p>
      </div>
      <div class="benefits__item">
        <div class="benefits__image">
          <picture>
            <source
              srcset="./img/benefits/04-2x.webp"
              type="image/webp"
              media="(min-width: 1440px)"
            />
            <source srcset="./img/benefits/04.webp" type="image/webp" />
            <img
              src="./img/benefits/04.jpg"
              srcset="./img/benefits/04-2x.jpg"
              alt=""
            />
          </picture>
        </div>
        <span class="benefits__capture capture">Гарантия качества</span>
        <p class="benefits__desc desc2">
          Мы оказываем услуги высокого качества и предоставляем гарантию. При
          возникновении проблем и соблюдении всех правил мы устраним ее
          абсолютно бесплатно.
        </p>
      </div>
    </div>
  </div>
</section>
