<section class="consult-q">
  <div class="container">
    <div class="info consult-q__info">
      <div class="consult-q__capture info__capture capture capture--accent">
        Популярные вопросы
      </div>
      <div class="consult-q__items">
        <div class="consult-q__item">
          <div class="consult-q__header">
            <div class="desc2 info__title consult-q__tit">
              Может ли врач рассчитать точную стоимость лечения на консультации
              специалиста?
            </div>
          </div>
          <div class="info__body">
            <p class="desc2 info__desc">
              Стоимость лечения рассчитывается приблизительно и корректируется в
              ходе лечения. Например, нельзя заранее предсказать, потребуется ли
              <a href="#">депульпация зуба,</a> как далеко зашли воспалительные
              процессы, нужна ли будет пломбировка корней. Эти вопросы, от
              которых зависит конечная сумма, выясняются в ходе лечения.
            </p>
          </div>
        </div>

        <div class="consult-q__item">
          <div class="consult-q__header">
            <div class="desc2 info__title consult-q__tit">
              Отличается ли чем-то прием дантиста для беременных от обычного?
            </div>
          </div>
          <div class="info__body">
            <p class="desc2 info__desc">
              Стандартная консультация предполагает осмотр и опрос пациентки, в
              этом нет ничего опасного для беременных. Будущим мамам необходимо
              предупредить врача, поскольку эта информация важна для составления
              плана <a href="#">лечения зубов при</a> беременности, выбора
              анестезии, диагностических процедур.
            </p>
          </div>
        </div>

        <div class="consult-q__item">
          <div class="consult-q__header">
            <div class="desc2 info__title consult-q__tit">
              Можно ли прийти на консультацию с простудой?
            </div>
          </div>
          <div class="info__body">
            <p class="desc2 info__desc">
              Лучше отложить посещение врача до выздоровления.
            </p>
          </div>
        </div>

        <div class="consult-q__item">
          <div class="consult-q__header">
            <div class="desc2 info__title consult-q__tit">
              Сколько времени обычно идет прием?
            </div>
          </div>
          <div class="info__body">
            <p class="desc2 info__desc">
              В среднем визит к врачу отнимает полчаса. Срок увеличивается, если
              необходимо провести дополнительную диагностику.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
