<section class="consult-about">
  <div class="container">
    <h2 class="title2 consult-about__title">
      Платный стоматолог: цены, услуги, особенности
    </h2>
    <p class="consult-about__desc desc2">
      Первичная консультация терапевта бесплатна, составление плана лечения
      также входит в стоимость терапевтических процедур и не требует
      дополнительной оплаты. Пациентам придется оплатить лишь некоторые
      исследования (ортопантограмму или Rg-снимок).
      <br />
      <br />
      Продолжительность первичного приема зависит от характера проблемы,
      сложности ее решения и необходимости проведения дополнительных
      исследований. По результатам общения врач определяет тактику лечения и
      назначает дату, когда начнется терапия. Если пациенту нужно время, чтобы
      принять решение, он записывается к доктору позднее по телефону. Но лучше
      не откладывать начало лечения надолго, особенно в том случае, если
      ситуация требует незамедлительного вмешательства врача. Если зуб
      разрушается, то лучше поторопиться с терапией, чтобы его сохранить.
      <br /><br />
      В нашей
      <a href="#">стоматологической клинике на метро Профсоюзная,</a> Новые
      Черемушки и Университет Вы сможете получить полный спектр услуг
      стоматологии по доступным ценам. 
    </p>
  </div>
  @include('map.html')
</section>
