<section class="consult-steps">
  <div class="container consult-steps__container">
    <div class="consult-steps__items">
      <div class="consult-steps__step step">
        <div class="step__header">
          <span class="capture step__capture">Ставим точный диагноз</span>
        </div>
        <p class="desc2 step__desc">
          благодаря доскональному изучению клинической картины.
        </p>
      </div>
      <div class="consult-steps__step step">
        <div class="step__header">
          <span class="capture step__capture">Ставим точный диагноз</span>
        </div>
        <p class="desc2 step__desc">
          благодаря доскональному изучению клинической картины.
        </p>
      </div>
      <div class="consult-steps__step step">
        <div class="step__header">
          <span class="capture step__capture">Ставим точный диагноз</span>
        </div>
        <p class="desc2 step__desc">
          благодаря доскональному изучению клинической картины.
        </p>
      </div>
    </div>
  </div>
</section>
