<section class="dr-ed">
  <div class="container dr-ed__container">
    <div class="dr-ed__block">
      <div class="dr-main__info dr-main__info--capture">
        <span>Образование:</span>
      </div>
      <ul class="list-reset d-list">
        <li>
          <span>
            1998г. - закончил медицинское училище №1 г.Москва по специальности
            «Зубной техник».
          </span>
        </li>
        <li>
          <span>
            2005г. - закончил МГМСУ (Московский Государственный
            медико-стоматологический университет).
          </span>
        </li>

        <li>
          <span>
            2006г. - закончил интернатуру по специальности «Стоматология общей
            практики»
          </span>
        </li>
      </ul>
    </div>

    <div class="dr-ed__block">
      <div class="dr-main__info dr-main__info--capture">
        <span>Повышение квалификации, переподготовка:</span>
      </div>
      <ul class="list-reset d-list">
        <li>
          <span>
            2008г. - закончил профессиональную переподготовку по хирургической
            стоматологии.
          </span>
        </li>
        <li>
          <span>
            2009г - закончил профессиональную переподготовку по ортопедической
            стоматологии.
          </span>
        </li>
      </ul>
    </div>

    <div class="dr-ed__block">
      <div class="dr-main__info dr-main__info--capture">
        <span>Профессиональное развитие и достижения:</span>
      </div>
      <ul class="list-reset d-list">
        <li>
          <span>
            2009 г - прохождение курса "Implant site development : sinus-lift,
            bone grafting, soft tissue modeling".
          </span>
        </li>
        <li>
          <span>
            2011г - участие в семинаре "Диоксид циркония и cad/cam технологии".
          </span>
        </li>
        <li>
          <span>
            2012г - прохождение курса "Достижение функционального и
            эстетического результата с имплантами Nobel".
          </span>
        </li>
        <li>
          <span>
            2012г - участие в лекционно-практическом курсе "Менеджмент твердых
            тканей".
          </span>
        </li>
        <li>
          <span>
            2012г - участие в 5-м "Московском конгрессе челюстно-лицевой
            хирургии и имплантологии".
          </span>
        </li>
        <li>
          <span>
            Участие в семинаре управляемой дентальной имплантацией "От
            томографии до хирургического шаблона. Настоящее и будующее"
          </span>
        </li>
        <li>
          <span>
            Получение сертификата о разрешении работы с диодным лазером Picasso,
            и обучение по теме: "Инновационные лазерные технологии в
            стоматологии".
          </span>
        </li>
        <li>
          <span>
            2013г - участие в международной образовательной конференции
            "Интегрированный подход к достижению идеального эстетического
            результата на имплантах".
          </span>
        </li>
        <li>
          <span>
            2014г - курс " Mucogingival Esthetic Surgery Bologna " проф.
            Джованни Зучели.
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
