<section class="dr-lic">
  <div class="container dr-lic__container">
    <div class="dr-lic__thumbs swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/01.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/02.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/03.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/04.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/05.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/06.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/07.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/08.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/09.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/10.webp" alt="" />
        </div>

        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/12.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/13.webp" alt="" />
        </div>
      </div>
    </div>

    <div class="dr-lic__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/01.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/02.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/03.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/04.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/05.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/06.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/07.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/08.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/09.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/10.webp" alt="" />
        </div>

        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/12.webp" alt="" />
        </div>
        <div class="swiper-slide dr-lic__item">
          <img src="./img/lic/13.webp" alt="" />
        </div>
      </div>
    </div>
    <div class="dr-lic__control control--bottom control">
      <div class="control__btn control__btn--prev lic-prev">
        <svg
          width="17"
          height="30"
          viewBox="0 0 17 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0.585786 16.4142C-0.195262 15.6332 -0.195262 14.3668 0.585787 13.5858L13.3137 0.857865C14.0948 0.0768168 15.3611 0.0768169 16.1421 0.857866C16.9232 1.63891 16.9232 2.90524 16.1421 3.68629L4.82843 15L16.1421 26.3137C16.9232 27.0948 16.9232 28.3611 16.1421 29.1421C15.3611 29.9232 14.0948 29.9232 13.3137 29.1421L0.585786 16.4142ZM3 17L2 17L2 13L3 13L3 17Z"
            fill="#444444"
          />
        </svg>
      </div>
      <div class="control__btn control__btn--next lic-next">
        <svg
          width="17"
          height="30"
          viewBox="0 0 17 30"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M16.4142 16.4142C17.1953 15.6332 17.1953 14.3668 16.4142 13.5858L3.68629 0.857865C2.90524 0.0768166 1.63891 0.0768167 0.857863 0.857866C0.0768144 1.63891 0.0768145 2.90524 0.857863 3.68629L12.1716 15L0.857865 26.3137C0.0768167 27.0948 0.0768168 28.3611 0.857866 29.1421C1.63891 29.9232 2.90524 29.9232 3.68629 29.1421L16.4142 16.4142ZM14 17L15 17L15 13L14 13L14 17Z"
            fill="#444444"
          />
        </svg>
      </div>
    </div>
  </div>
</section>
