<section class="dr-main">
  <div class="container dr-main__container">
    <div class="dr-main__image">
      <picture>
        <source
          srcset="./img/dr/01-2x.webp"
          type="image/webp"
          media="(max-width: 1440px)"
        />
        <source srcset="./img/dr/01.webp" type="image/webp" />
        <img
          loading="lazy"
          src="./img/dr/01.jpg"
          srcset="./img/dr/01-2x.jpg 2x"
          width=""
          height=""
          alt=""
        />
      </picture>
    </div>

    <div class="dr-main__content">
      <div class="dr-main__header">
        <h2 class="title2 dr-main__title">Гранов Илья Игоревич</h2>
        <p class="capture dr-main__desc">
          Занимается восстановлением утраченных зубов.
        </p>
      </div>
      <div class="dr-main__info">
        <span>Профессиональный стаж:</span> с 2005 года
      </div>
      <div>
        <div class="dr-main__info dr-main__info--capture">
          <span>Специализация:</span>
        </div>
        <ul class="list-reset d-list">
          <li>
            <span>
              <a href="https://dr-granov.ru/uslugi-i-tseny/implantatsiya-zubov/"
                >Установка имплантов</a
              >.
            </span>
          </li>
          <li>
            <span>
              <a
                href="https://dr-granov.ru/uslugi-i-tseny/protezirovanie-zubov/"
                >Протезирование</a
              >
              на имплантах.
            </span>
          </li>

          <li>
            <span>
              <a
                href="https://dr-granov.ru/uslugi-i-tseny/hirurgicheskaya-stomatologiya/"
                >Хирургия</a
              >:
              <a
                href="https://dr-granov.ru/uslugi-i-tseny/implantatsiya-zubov/sinus-lifting/"
                >синус лифтинг</a
              >, пластические операции на твердых тканях.
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
