<header class="header">
  <div class="container header__container">
    <a href="./" class="header__logo">
      <img src="./img/logo.svg" alt="" />
    </a>

    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="" class="nav__link">Услуги</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Цены</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Наши врачи</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Акции</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">О клинике</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="header__contact">
      <a href="#" class="header__call">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.7072 3.37913L15.1269 5.92304C16.4082 8.21879 15.8939 11.2304 13.8759 13.2483C13.8759 13.2483 11.4285 15.6962 15.8661 20.134C20.3023 24.5702 22.7517 22.1241 22.7517 22.1241C24.7696 20.1062 27.7812 19.5919 30.077 20.8731L32.6208 22.2928C36.0875 24.2274 36.4968 29.0889 33.4499 32.1361C31.6189 33.9671 29.3759 35.3918 26.8963 35.4856C22.7224 35.644 15.6338 34.5877 8.52309 27.477C1.41248 20.3663 0.356089 13.2777 0.514333 9.10365C0.608329 6.62414 2.033 4.38114 3.86396 2.5502C6.91104 -0.496889 11.7726 -0.0874757 13.7072 3.37913Z"
            fill="white"
          />
        </svg>
      </a>

      <button class="btn-reset btn header__btn">Записаться на прием</button>
    </div>
  </div>
</header>
