<header class="header">
  <div class="container header__container">
    <a href="./" class="header__logo">
      <img src="./img/logo.svg" alt="" />
    </a>

    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item nav__item--drop">
          <div>
            <a href="" class="nav__link">Услуги</a>
            <div class="nav__arr">
              <svg
                width="8"
                height="5"
                viewBox="0 0 8 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.64645 4.35365C3.84171 4.54892 4.15829 4.54892 4.35355 4.35365L7.53553 1.17167C7.7308 0.97641 7.7308 0.659828 7.53553 0.464566C7.34027 0.269304 7.02369 0.269304 6.82843 0.464566L4 3.29299L1.17157 0.464566C0.976311 0.269304 0.659728 0.269304 0.464466 0.464566C0.269204 0.659828 0.269204 0.976411 0.464466 1.17167L3.64645 4.35365ZM3.5 4L3.5 4.0001L4.5 4.0001L4.5 4L3.5 4Z"
                  fill="#444444"
                />
              </svg>
            </div>
          </div>
          <ul class="list-reset nav__dropdown dropdown">
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Консультация стоматолога</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Лечение зубов</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Имплантация</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Цены</a>
            </li>
            <li class="dropdown__item">
              <a href="" class="dropdown__link">Протезирование зубов</a>
            </li>
            <li class="dropdown__item">
              <a href="" class="dropdown__link">Ортодонтия</a>
            </li>
            <li class="dropdown__item">
              <a href="" class="dropdown__link">Отбеливание зубов</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Гигиеническая чистка</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Диагностика в стоматологии</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Пародонтология</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Хирургическая стоматология</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Цены</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Наши врачи</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Акции</a>
        </li>
        <li class="nav__item nav__item--drop">
          <div>
            <a href="" class="nav__link">О клинике</a>
            <div class="nav__arr">
              <svg
                width="8"
                height="5"
                viewBox="0 0 8 5"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M3.64645 4.35365C3.84171 4.54892 4.15829 4.54892 4.35355 4.35365L7.53553 1.17167C7.7308 0.97641 7.7308 0.659828 7.53553 0.464566C7.34027 0.269304 7.02369 0.269304 6.82843 0.464566L4 3.29299L1.17157 0.464566C0.976311 0.269304 0.659728 0.269304 0.464466 0.464566C0.269204 0.659828 0.269204 0.976411 0.464466 1.17167L3.64645 4.35365ZM3.5 4L3.5 4.0001L4.5 4.0001L4.5 4L3.5 4Z"
                  fill="#444444"
                />
              </svg>
            </div>
          </div>
          <ul class="list-reset nav__dropdown dropdown">
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Публикации в СМИ</a>
            </li>
            <li class="dropdown__item">
              <a href="#" class="dropdown__link">Наши работы</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="header__contact">
      <a href="#" class="header__call">
        <svg
          width="36"
          height="36"
          viewBox="0 0 36 36"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13.7072 3.37913L15.1269 5.92304C16.4082 8.21879 15.8939 11.2304 13.8759 13.2483C13.8759 13.2483 11.4285 15.6962 15.8661 20.134C20.3023 24.5702 22.7517 22.1241 22.7517 22.1241C24.7696 20.1062 27.7812 19.5919 30.077 20.8731L32.6208 22.2928C36.0875 24.2274 36.4968 29.0889 33.4499 32.1361C31.6189 33.9671 29.3759 35.3918 26.8963 35.4856C22.7224 35.644 15.6338 34.5877 8.52309 27.477C1.41248 20.3663 0.356089 13.2777 0.514333 9.10365C0.608329 6.62414 2.033 4.38114 3.86396 2.5502C6.91104 -0.496889 11.7726 -0.0874757 13.7072 3.37913Z"
            fill="white"
          />
        </svg>
      </a>

      <button class="btn-reset btn header__btn">Записаться на прием</button>
      <div class="header__burger">
        <div class="line"></div>
      </div>
    </div>
  </div>

  @include('menu.html')
</header>
