<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">Стоматология любой сложности</h1>
      <p class="hero__desc desc">
        Здоровье и красота Ваших зубов - главная задача наших специалистов. Мы
        знаем всё о правильном лечении полости рта.
      </p>

      <form action="post" class="hero__form form">
        <label class="form__label">
          <input
            type="text"
            name="Имя клиента: "
            placeholder="Ваше имя"
            class="form__input"
          />
        </label>
        <label class="form__label">
          <input
            type="text"
            name="Номер телефона: "
            placeholder="Ваш номер телефона"
            class="form__input"
          />
        </label>
        <label class="form__label">
          <textarea
            name="Проблема: "
            placeholder="Опишите вашу проблему"
            class="form__area"
          ></textarea>
        </label>
        <button class="btn btn-reset form__btn">Рассчитать стоимость</button>
      </form>
    </div>

    <div class="hero__image">
      <picture>
        <source
          srcset="./img/girl-2x.webp"
          type="image/webp"
          media="(min-width: 1440px)"
        />
        <source srcset="./img/girl.webp" type="image/webp" />
        <img src="./img/girl.jpg" srcset="./img/girl-2x.jpg 2x" alt="" />
      </picture>
    </div>
  </div>
</section>
