<section class="how-to-get sub">
  <div class="container">
    <div class="sub__title how-to-get__title capture capture--accent">
      Как к нам добраться на общественном транспорте
    </div>
    <div class="sub__body how-to-get__body">
      <div class="sub__info">
        <div class="neares-sub__row sub__row">
          <div class="how-to-get__icon sub__icon sub__icon--yel">
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
                fill="white"
              />
            </svg>
          </div>
          <span class="how-to-get__name desc2"> Новые Черёмушки </span>
        </div>
        <p class="sub__desc how-to-get__desc desc2">
          С остановки на Профсоюзной улице
          <span>автобус 1 или 113, маршрутка 550м</span> - 4 остановки пешком
          12-15 минут по улице Гарибальди в сторону улиц: Архитектора Власова,
          Вавилова, Академика Пилюгина, Ленинского проспекта.
        </p>
      </div>

      <div class="sub__info">
        <div class="neares-sub__row sub__row">
          <div class="how-to-get__icon sub__icon sub__icon--yel">
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
                fill="white"
              />
            </svg>
          </div>
          <span class="how-to-get__name desc2"> Профсоюзная </span>
        </div>
        <p class="sub__desc how-to-get__desc desc2">
          С остановки, расположенной на Нахимовском проспекте автобус 153 или
          маршрутка 438м - 6 остановок.
        </p>
      </div>

      <div class="sub__info">
        <div class="neares-sub__row sub__row">
          <div class="how-to-get__icon sub__icon sub__icon--red">
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
                fill="white"
              />
            </svg>
          </div>
          <span class="how-to-get__name desc2"> Проспект Вернадского </span>
        </div>
        <p class="sub__desc how-to-get__desc desc2">
          Автобус 153 или маршрутка 438м - 6 остановок. В 800 метрах от нас
          расположена остановка "Ленинский проспект". До нее проще всего доехать
          от станции метро "Университет".
        </p>
      </div>

      <div class="sub__info">
        <div class="neares-sub__row sub__row">
          <div class="how-to-get__icon sub__icon sub__icon--red">
            <svg
              width="15"
              height="10"
              viewBox="0 0 15 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
                fill="white"
              />
            </svg>
          </div>
          <span class="how-to-get__name desc2"> Университет </span>
        </div>
        <p class="sub__desc how-to-get__desc desc2">
          С остановки, расположенной на Нахимовском проспекте автобус 153 или
          маршрутка 438м - 6 остановок.
        </p>
      </div>
    </div>
  </div>
</section>
