<section class="interview">
  <h2 class="visually-hidden">title</h2>

  <div class="container interview__container">
    <div
      class="interview__video"
      data-video-src="https://www.youtube.com/embed/_qcVtMmk9Vk?si=Bhb0BQ0vBtbAbljz"
    >
      <img
        src="https://img.youtube.com/vi/_qcVtMmk9Vk/maxresdefault.jpg"
        alt=""
      />
    </div>
    <div
      class="interview__video"
      data-video-src="https://www.youtube.com/embed/c_jBr83WQA4?si=YtY_rnhYyLNZqqAV"
    >
      <img
        src="https://img.youtube.com/vi/c_jBr83WQA4/maxresdefault.jpg"
        alt=""
      />
    </div>
  </div>
</section>
