<div class="menu">
  <div class="menu__body">
    <ul class="list-reset nav__list">
      <li class="nav__item nav__item--drop">
        <div>
          <a href="" class="nav__link">Услуги</a>
          <div class="nav__arr">
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 4.35365C3.84171 4.54892 4.15829 4.54892 4.35355 4.35365L7.53553 1.17167C7.7308 0.97641 7.7308 0.659828 7.53553 0.464566C7.34027 0.269304 7.02369 0.269304 6.82843 0.464566L4 3.29299L1.17157 0.464566C0.976311 0.269304 0.659728 0.269304 0.464466 0.464566C0.269204 0.659828 0.269204 0.976411 0.464466 1.17167L3.64645 4.35365ZM3.5 4L3.5 4.0001L4.5 4.0001L4.5 4L3.5 4Z"
                fill="#444444"
              />
            </svg>
          </div>
        </div>
        <ul class="list-reset nav__dropdown dropdown">
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Консультация стоматолога</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Лечение зубов</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Имплантация</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Цены</a>
          </li>
          <li class="dropdown__item">
            <a href="" class="dropdown__link">Протезирование зубов</a>
          </li>
          <li class="dropdown__item">
            <a href="" class="dropdown__link">Ортодонтия</a>
          </li>
          <li class="dropdown__item">
            <a href="" class="dropdown__link">Отбеливание зубов</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Гигиеническая чистка</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Диагностика в стоматологии</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Пародонтология</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Хирургическая стоматология</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Цены</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Наши врачи</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Отзывы</a>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Акции</a>
      </li>
      <li class="nav__item nav__item--drop">
        <div>
          <a href="" class="nav__link">О клинике</a>
          <div class="nav__arr">
            <svg
              width="8"
              height="5"
              viewBox="0 0 8 5"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M3.64645 4.35365C3.84171 4.54892 4.15829 4.54892 4.35355 4.35365L7.53553 1.17167C7.7308 0.97641 7.7308 0.659828 7.53553 0.464566C7.34027 0.269304 7.02369 0.269304 6.82843 0.464566L4 3.29299L1.17157 0.464566C0.976311 0.269304 0.659728 0.269304 0.464466 0.464566C0.269204 0.659828 0.269204 0.976411 0.464466 1.17167L3.64645 4.35365ZM3.5 4L3.5 4.0001L4.5 4.0001L4.5 4L3.5 4Z"
                fill="#444444"
              />
            </svg>
          </div>
        </div>
        <ul class="list-reset nav__dropdown dropdown">
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Публикации в СМИ</a>
          </li>
          <li class="dropdown__item">
            <a href="#" class="dropdown__link">Наши работы</a>
          </li>
        </ul>
      </li>
      <li class="nav__item">
        <a href="" class="nav__link">Контакты</a>
      </li>
    </ul>

    <button class="btn-reset btn menu__btn">Записаться на прием</button>
  </div>
</div>
