<section class="nearest-sub sub">
  <div class="container">
    <div class="sub__title nearest-sub__title capture capture--accent">
      Ближайшее метро
    </div>
    <div class="sub__body nearest-sub__body">
      <div class="neares-sub__row sub__row">
        <div class="nearest-sub__icon sub__icon sub__icon--yel">
          <svg
            width="15"
            height="10"
            viewBox="0 0 15 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
              fill="white"
            />
          </svg>
        </div>
        <span class="nearest-sub__name desc2">
          Новые Черёмушки <span>1,4 км</span>
        </span>
      </div>
      <div class="neares-sub__row sub__row">
        <div class="nearest-sub__icon sub__icon sub__icon--yel">
          <svg
            width="15"
            height="10"
            viewBox="0 0 15 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
              fill="white"
            />
          </svg>
        </div>
        <span class="nearest-sub__name desc2">
          Профсоюзная <span>1,8 км</span>
        </span>
      </div>
      <div class="neares-sub__row sub__row">
        <div class="nearest-sub__icon sub__icon sub__icon--red">
          <svg
            width="15"
            height="10"
            viewBox="0 0 15 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
              fill="white"
            />
          </svg>
        </div>
        <span class="nearest-sub__name desc2"> Проспект Вернадского </span>
      </div>
      <div class="neares-sub__row sub__row">
        <div class="nearest-sub__icon sub__icon sub__icon--red">
          <svg
            width="15"
            height="10"
            viewBox="0 0 15 10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M13.2896 8.15787L10.169 0.150423L7.53771 4.83209L4.9064 0.150423L1.78581 8.16043H0.88397V9.3641H5.5831V8.16043H4.88754L5.56423 6.17136L7.53771 9.45876L9.51119 6.17136L10.1879 8.16043H9.49233V9.3641H14.2103V8.16043L13.2896 8.15787Z"
              fill="white"
            />
          </svg>
        </div>
        <span class="nearest-sub__name desc2">
          Университет <span>1,8 км</span>
        </span>
      </div>
    </div>
  </div>
</section>
