<section class="near-theme">
  <div class="container">
    <div class="near-theme__block info">
      <h2 class="capture near-theme__capture">Связанные процедуры</h2>
      <ul class="list-reset d-list near-theme__list near-theme__list--sec">
        <li class="near-theme__item">
          <a href="#" class="near-theme__link">Синус-лифтинг</a>
        </li>
        <li class="near-theme__item">
          <a href="#" class="near-theme__link">Hi-Tec</a>
        </li>
        <li class="near-theme__item">
          <a href="#" class="near-theme__link">Установка абатмента</a>
        </li>
      </ul>
    </div>
  </div>
</section>
