<section class="near-theme">
  <div class="container">
    <div class="near-theme__block info">
      <h2 class="capture near-theme__capture">Связанные процедуры</h2>
      <ul class="list-reset near-theme__list">
        <li class="near-theme__item">
          <a href="#" class="near-theme__link">Гигиеническая чистка</a>
        </li>
        <li class="near-theme__item">
          <a href="#" class="near-theme__link">Синус-лифтинг</a>
        </li>
        <li class="near-theme__item">
          <a href="#" class="near-theme__link">Вкладки и накладки E-max</a>
        </li>
      </ul>
    </div>
  </div>
</section>
