<section class="service-hero">
  <div class="service-hero__body">
    <div class="service__left">
      <h2 class="title2 service-hero__title">Терапия зубов</h2>
      <ul class="info list-reset service-hero__list d-list d-list--blue">
        <li>Лечение кариеса, периодонтита, пульпита</li>
        <li>Пломбирование канала зуба</li>
      </ul>
      <form action="#" class="form service-hero__form cta__from">
        <label class="form__label">
          <input
            type="text"
            name="Имя клиента: "
            placeholder="Ваше имя"
            class="form__input"
          />
        </label>
        <label class="form__label">
          <input
            type="text"
            name="Номер телефона: "
            placeholder="Ваш номер телефона"
            class="form__input"
          />
        </label>
        <label class="form__label">
          <textarea
            name="Проблема: "
            placeholder="Опишите вашу проблему"
            class="form__area"
          ></textarea>
        </label>
        <button class="btn btn-reset form__btn">Рассчитать стоимость</button>
      </form>
    </div>
    <div class="service-hero__images">
      <div class="service-hero__img">
        <picture>
          <source
            srcset="./img/service/01-2x.webp"
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/service/01.webp" type="image/webp" />
          <img
            src="./img/service/01.jpg"
            srcset="./img/service/01-2x.jpg"
            alt=""
          />
        </picture>
      </div>
      <div class="service-hero__img">
        <picture>
          <source
            srcset="./img/service/02-2x.webp"
            type="image/webp"
            media="(min-width: 1440px)"
          />
          <source srcset="./img/service/02.webp" type="image/webp" />
          <img
            src="./img/service/02.jpg"
            srcset="./img/service/02-2x.jpg"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
