<section class="service-cost">
  <h2 class="title2 service-cost__title">Стоимость лечения</h2>
  <p class="service-cost__desc desc2">
    Главная причина визита к стоматологу – боль. Именно она заставляет людей
    преодолеть страх перед бормашиной. На самом деле терапию стоит начинать
    намного раньше. В клинике доктора Гранова вас ждет комфортное и недорогое
    лечение зубов – цены здесь по карману каждому. А больно не будет.
  </p>

  <div class="service-cost__body">
    <div class="service-cost__capture capture capture--accent">
      К стоматологу пора обращаться, как только вы заметили первые симптомы
      недуга:
    </div>
    <ul class="list-reset service-cost__list d-list">
      <li><span>Нащупали языком щербинку в эмали.</span></li>
      <li>
        <span>
          Заметили, что во время гигиенических процедур
          <a href="#">десны кровоточат.</a></span
        >
      </li>
      <li>
        <span>Увидели темные пятна или <a href="#">камень на эмали.</a></span>
      </li>
      <li>
        <span>
          Ощутили выраженный <a href="#">дискомфорт от</a> холодной, горячей,
          кислой или соленой пищи.
        </span>
      </li>
    </ul>
  </div>

  <p class="service-cost__desc desc2">
    Стоимость лечения зубов будет намного ниже на начальной стадии болезни. Еще
    один важный момент: чем позже вы придете к врачу, тем сложнее и болезненнее
    терапия.
  </p>

  <div class="service-cost__items">
    <div class="service-cost__body service-cost__left">
      <div class="service-cost__capture capture capture--accent">
        Запишись на прием к стоматологу по направлениям:
      </div>
      <ul class="list-reset service-cost__list d-list">
        <li>Терапия </li>
        <li>Хирургическое лечение </li>
        <li>Ортопедия</li>
        <li>Протезирование</li>
      </ul>

      <form action="#" class="consult-m__form consult-form">
        <div class="desc2 consult-form__desc">
          Оставьте свой номер телефона.<br />Вам перезвонит администратор
          клиники.
        </div>
        <label class="form__label consult-form__label">
          <input
            type="tel"
            placeholder="Ваш номер телефона"
            class="consult-form__input form__input input-tel"
          />
        </label>

        <button class="btn-reset btn consult-form__btn">Отправить</button>
      </form>
    </div>

    <div class="service-cost__image">
      <picture>
        <source
          srcset="./img/service/consult-2x.webp"
          type="image/webp"
          media="(min-width: 1440px)"
        />
        <source srcset="./img/service/consult.webp" type="image/webp" />
        <img
          loading="lazy"
          src="./img/service/consult.jpg"
          srcset="./img/service/consult-2x.jpg 2x"
          width=""
          height=""
          alt=""
        />
      </picture>

      <div class="service-cost__info">
        <span>Первичная консультация 400 рублей</span>
        <a href="#" class="btn btn--white service-cost__btn"
          >Запишитесь на прием</a
        >
      </div>
    </div>
  </div>
</section>
