<section class="service-doc">
  <h2 class="title2 service-doc__title">Лечение в Москве</h2>
  <p class="service-cost__desc desc2">
    Стоматологическая клиника доктора Гранова находится в ЮЗАО, в Москве. Вы
    можете добраться туда на автомобиле или общественном транспорте. Если
    поедете на метро, сойдите на станции «Университет», «Профсоюзная» или «Новые
    Черемушки». Здание находится неподалеку.
  </p>

  <div class="service-cost__body">
    <div class="service-cost__capture capture capture--accent">
      Стоматологи клиники быстро избавят от заболеваний зубов и десен:
    </div>
    <ul class="list-reset service-cost__list d-list">
      <li><a href="#">кариеса</a></li>
      <li>
        <span> <a href="#">пародонтита</a> и <a>пародонтоза</a> </span>
      </li>
      <li>
        <a href="#">пульпита</a>
      </li>
      <li>
        <a href="#">периодонтита</a>
      </li>
    </ul>
  </div>

  <p class="service-cost__desc desc2">
    В стоматологическом центре выполняют не только лечение зубов. Клиника
    оказывает услуги <a href="#">имплантации</a>,
    <a href="#">исправления прикуса</a>,
    <a href="#">профессиональной чистки</a> и <a href="#">отбеливания</a>.
  </p>

  <div class="service-doc__body">
    <p class="desc2 service-doc__text">
      В клинике доктора Гранова используют только современное оборудование.
      Немецкая стоматологическая установка Sirona:
    </p>
    <div class="service-doc__item">
      <div class="service-doc__capture capture capture--accent">
        Эргономична
      </div>
      <p class="desc2">
        Сидеть в кресле действительно удобно. Оно повторяет все изгибы тела. А
        мягкий подголовник надежно фиксирует затылок, чтобы вы случайно не
        пошевелили головой во время процедуры.
      </p>
    </div>
    <div class="service-doc__item">
      <div class="service-doc__capture capture capture--accent">
        Универсальна
      </div>
      <p class="desc2">
        С ее помощью врач лечит зубы, выполняет хирургические и ортодонтические
        манипуляции.
      </p>
    </div>
    <div class="service-doc__item">
      <div class="service-doc__capture capture capture--accent">
        Обеспечивает эффективное и безболезненное лечение
      </div>
      <p class="desc2">
        Ведь чем быстрее вращается бур, тем меньше дискомфорта ощущает пациент.
      </p>
    </div>
  </div>

  <p class="service-cost__desc desc2">
    Но начинать надо не с терапии или
    <a href="#">хирургического вмешательства</a>, а с
    <a href="#">диагностики</a>. Поэтому первое, что ждет пациента в клинике –
    прием <a href="#">стоматолога-терапевта</a>. Врач проведет осмотр,
    расспросит вас о симптомах, назначит необходимые анализы. Если нужно, вам
    сделают <a href="#">рентген</a>
    или УЗИ. На основании собранных данных врач поставит диагноз. И только после
    этого переходят к терапии.
  </p>
</section>
