*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: calc(100vw / 144);
}
.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

.page__body {
  margin: 0;
  min-width: 360px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.btn {
  font-weight: 500;
  font-size: 16px;
  color: #fff;

  border-radius: 10px;
  padding: 20px 30px;
  line-height: 1;
  background-color: var(--accent);

  @include tablet {
    padding: 18px 25px;
  }
}

.desc {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 25px;
  color: var(--text-color);
  line-height: 1.44;
  @include tablet {
    font-size: 20px;
  }
  @include small-tablet {
    font-size: 16px;
  }
  @include mobile {
    font-size: 14px;
  }
}
.desc2 {
  margin: 0;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  color: #444;
  line-height: 144%;
  @include tablet {
    font-size: 16px;
  }
  @include small-tablet {
    font-size: 14px;
  }
}
.capture {
  display: block;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 25px;
  color: var(--text-color);

  @include tablet {
    font-size: 22px;
  }
  @media (max-width: 850px) {
    font-size: 18px;
  }
  @include mobile {
    font-size: 16px;
  }
}
.title2 {
  margin: 0;
  margin-bottom: 30px;
  font-family: var(--font3);
  font-weight: 500;
  font-size: 55px;
  color: var(--text-color);

  @include tablet {
    font-size: 40px;
  }
  @include small-tablet {
    font-size: 32px;
    margin-bottom: 20px;
  }
  @include mobile {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

.control {
  display: flex;
  align-items: center;
  gap: 20px;

  &__btn {
    width: 82px;
    height: 82px;
    position: relative;
    border: 1px solid #e9f2fd;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      @include small-tablet {
        width: 14px;
        height: 23px;
      }
    }
    @include tablet {
      width: 65px;
      height: 65px;
    }
  }

  &--top {
    @include small-tablet {
      display: none;
    }
  }
  &--bottom {
    display: none;
    @include small-tablet {
      margin-top: 10px;
      display: flex;
      justify-content: center;
    }
  }
}
.icon-marker {
  // cursor: pointer;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  position: relative;
  transform: translate(-50%, -50%);
}
.ymaps3x0--marker {
  width: 60px;
}

.d-list {
  & > li {
    display: flex;
    align-items: flex-start;
    // flex-wrap: wrap;
    gap: 14px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 20px;

    color: var(--text-color);
    &:not(:last-child) {
      margin-bottom: 10px;
    }
    &::before {
      content: "";
      display: block;
      width: 26px;
      height: 27px;
      flex-shrink: 0;
      background-image: url("./../img/tt-icon.svg");
      background-position: center bottom;
      background-size: contain;
      background-repeat: no-repeat;
    }

    a {
      color: var(--text-color);
      text-decoration: underline;
      text-decoration-skip-ink: none;
    }
  }
}

.grid-container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-left {
  grid-column: 2 span;
}
